body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .cec{
                
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 19px;
   
    overflow-y: scroll;
    direction: ltr;
        }
           .container {
               background-color:cyan;
               
               margin-top: 20px;
               margin-bottom: 20px;
               color: grey;
               padding-left: 100px;
               padding-right: 100px;
        }
           .ccc{
               color:purple;
           }